@charset "UTF-8";
 
:root {
    --cor1: #A6A6A6;
    --cor2: #666666;
    --cor3: #E6E6E6;
    --cor4: #F2F2F2;
    --cor5: #CCCCCC;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--cor2);
    color: var(--cor4);
}

header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.436);
}

header p {
    font-size: 1.2em;
    font-family: cursive;
}

form {
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    
    padding: 15px;
    background-color: var(--cor4);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.451);
    color: var(--cor2);
}

input, textarea, select {
    display: block;
    width: 100%;
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    color: var(--cor4);
}

select:focus {
    background-color: var(--cor2);
    color: var(--cor4);
}

label {
    color: var(--cor2);
}

input[type="radio"], input[type="checkbox"] {
    width: 15px;
    vertical-align: middle;
    display: inline-block;
}

.inline {
    display: block;
    padding: 2px;
}

fieldset {
    border: none;
    border-bottom: 2px solid var(--cor1);
    margin-bottom: 10px;
}

legend {
    margin-bottom: 10px;
}

button {
    display: block;
    margin: auto;
    height: 2em;
    width: 200px;
    background-color: var(--cor1);
    color: var(--cor4);
    font-size: 1em;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.463);
}

button:hover {
    background-color: var(--cor2);
}